{% extends 'blog/shop.html' %}
{% block content %}
    {% for product in product_list %}
    {{product.category}}
        {% if product.category != 'arts' %}
        <div class="col-md-4">
           <div class="blog-post">
                 <div class="post-media">
                     <img src="{{ product.image.url }}" alt="">
                 </div>
               <div class="post-desc">
                   <h4>{{ product.title }}</h4>
                   <h5>{{ product.post_date }}</h5>
                   <p>{{ product.description }}</p>
{#                    <a href="blog.html" class="btn btn-gray-border">Read More</a>#}
               </div>
           </div>
       </div>
        {% endif %}
    {% endfor %}
{% endblock %}

